language: node_js
os: linux
dist: xenial
node_js:
  - lts/*
cache:
  npm: false
  yarn: true
notifications:
  email: false
git:
  quiet: true
install: 
  - "yarn install --frozen-lockfile"
  - "yarn global add snyk"
  - "snyk auth $SNYK_TOKEN"
before_script:
  - "yarn bootstrap"
script: 
  - "yarn lint"
  - "yarn test --runInBand"
  - "bash <(curl -s https://codecov.io/bash)"
  - "snyk test --all-projects"
jobs:
  include:
    - stage: check
      name: "Confidence check"
      if: type = push AND branch != master
    - stage: release
      name: "Release"
      if: type = push AND branch = master
      before_deploy:
        - "yarn build"
        - "sh ./scripts/configure-git.sh"
        - "npm config set '//registry.npmjs.org/:_authToken' '${NPM_AUTH_TOKEN}'"
        - "yarn config set _authToken '${NPM_AUTH_TOKEN}'"
        - "git add packages/natds-themes/build/**/*"
        - "git commit --allow-empty -m \"build(natds-themes): update android and ios generated files [skip ci]\""
        - "yarn release:ci"
      deploy:
        - provider: script
          script: "yarn lerna:publish:ci"
          skip_cleanup: true
          on:
            branch: master
