@font-face {
    font-family: 'Helvetica Now Display';
    src: url('helvetica_now_display_bd.eot');
    src: url('helvetica_now_display_bd.eot?#iefix') format('embedded-opentype'),
        url('helvetica_now_display_bd.woff2') format('woff2'),
        url('helvetica_now_display_bd.woff') format('woff'),
        url('helvetica_now_display_bd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
