@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Md.eot');
    src: url('HelveticaNowDisplay-Md.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNowDisplay-Md.woff2') format('woff2'),
        url('HelveticaNowDisplay-Md.woff') format('woff'),
        url('HelveticaNowDisplay-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
