@font-face {
    font-family: 'Montserrat';
    src: url('montserrat_regular.eot');
    src: url('montserrat_regular.eot?#iefix') format('embedded-opentype'),
        url('montserrat_regular.woff2') format('woff2'),
        url('montserrat_regular.woff') format('woff'),
        url('montserrat_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

