@font-face {
    font-family: 'Suisse Int\'l';
    src: url('suisse_intl_regular.eot');
    src: url('suisse_intl_regular.eot?#iefix') format('embedded-opentype'),
        url('suisse_intl_regular.woff2') format('woff2'),
        url('suisse_intl_regular.woff') format('woff'),
        url('suisse_intl_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

