@font-face {
    font-family: "Suisse Int'l";
    src: url('SuisseIntl-Regular.eot');
    src: url('SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('SuisseIntl-Regular.woff2') format('woff2'),
        url('SuisseIntl-Regular.woff') format('woff'),
        url('SuisseIntl-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

