@font-face {
    font-family: 'Work Sans';
    src: url('work_sans_bold.eot');
    src: url('work_sans_bold.eot?#iefix') format('embedded-opentype'),
        url('work_sans_bold.woff2') format('woff2'),
        url('work_sans_bold.woff') format('woff'),
        url('work_sans_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
