@font-face {
    font-family: 'Zona Pro ExtraBold';
    src: url('ZonaPro-ExtraBold.eot');
    src: url('ZonaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ZonaPro-ExtraBold.woff2') format('woff2'),
        url('ZonaPro-ExtraBold.woff') format('woff'),
        url('ZonaPro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

